* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img.octocat {
  height: 200px;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  padding: 16px;
}

.row1 {
  background-color: aliceblue;
}

.row2 {
  background-color: aquamarine;
  justify-content: space-evenly;
}

.row3 {
  background-color: aqua;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #424855;
}

.footer {
  margin-top: 8px;
  text-align: center;
  font-size: 1.5em;
}

.footer span {
  color: #424855;
}
