.col,
.col-2,
.col-3 {
  color: white;
  background-color: turquoise;
  flex: 1;
  padding: 20px 0;
  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  text-align: center;
  align-items: center;
  margin: 10px -20px;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}
